html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

h1 {
  font-family: 'The Nautigal', cursive;
  font-size: 200px;
  text-align: center;
  padding-top: 5%;
  margin: auto;
}

h3 {
  text-align: center;
  font-family: 'Noto Kufi Arabic', sans-serif;
  direction: rtl;
}

#dateDiv {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

blockquote {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

footer {
  position: fixed;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
}
